:root {
  --primary-color-1: #f2620e !important;
  // --primary-color-1: #0e59f2 !important;
  --primary-color-2: #f8e559 !important;
  --primary-color-3: #406aff !important;
  --primary-color-4: rgb(20, 18, 25) !important;
  // --bg-heading-color: #051634 !important;
  --bg-heading-color: #00001C !important;

  // --chatbot-card-color: #f8f8f8;
  // --chatbot-card-color: #141219; cua lam
  --chatbot-card-color: #132C44;

  
  --text-heading-color: #051634 !important;
  --btn-heading-color: #131313;
  --body-color: #343434;
  --dark-one: #1c1e22;
  --dark-two: #222429;
  --color-1: #f4f7fb;
  --color-2: #737373;
  // --color-3: #0b46bf;
  --color-3: #ab3f1e;
  --color-4: #cccccc;
  --color-5: #12223e;
  --color-6: #864af942;
  --color-7: #07204d;

  --chatbot-bg-color: #141219;
  --chatbot-footer-color: #1b1724;
  --footer-text: #d8d3ff;

  --black-color: #000000;
  --white-color: #ffffff;
  --orange-color: #f7941e;
  --font-family: "Nunito", sans-serif;
  --transition: 0.4s;
  --fontSize: 18px;
}
